$font-stack: 'Space Mono', 'Helvetica Neue', sans-serif;
$primary-bg: #BCE5e8;
$primary-dark-color: #00484C;
$primary-light-color: #88EBDF;
$input-background: #F3FBFB;
$input-color: #00747A;
$error-color: #B57B6D;
$input-focus-outline: #5CA99F;
$button-disabled-bg: #006A6E;
$giant-color: #29C1AC;

